
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');/*  font-family: 'Kolker Brush', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');/*font-family: 'Lobster Two', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster+Two:wght@700&display=swap');/* font-family: 'Dancing Script', cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville:ital@1&family=Lobster+Two:wght@700&display=swap');/* font-family: 'Libre Baskerville', serif;  */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville:ital@1&family=Lobster+Two:wght@700&family=Petit+Formal+Script&display=swap');/* font-family: 'Petit Formal Script', cursive;  */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* font-family: 'Pacifico', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');/* font-family: "Montserrat", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');/*font-family: "Ubuntu", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');/* font-family: "PT Serif", serif;*/

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');/*font-family: "Kdam Thmor Pro", sans-serif;*/

body{
  --ffff:#fff;
  --ff:#fff;
  --fff: #fff;
  --BED6ED:#BED6ED;
  --013B72 :#013B72;
  --013B72Black:#013B72;
  --D8E4EB:#D8E4EB;
  --invert-white:invert(100%);
  --invert-black:invert(1%) ;
  --0358a8:#0358a8;
  --background-black:url(Svg/background-black.svg);
  --bed6edOR:#bed6ed;
  --sun:url(Svg/Sun.svg);
  --sunorange:url(Svg/Sun.svg);
  --Left-image-src: url('Images/Svg-Left-Side_Img.png');
  --Right-image-src: url('Images/Svg-Right-Side.png');
  --B013B72I:#013B72;
  --Black013B72:#013B72;
  --Oranfff:#fff;
  --0358a8BLACK:#0358a8;
  --069OR:#069;
  --ffffffdb:#ffffffdb;
  --013b72c9B:#013b72c9;
   --Color:rgb(43, 171, 235);
   --background-Animation-black:url(Svg/Black_Img-Svg.png);
   --rbgwhite:rgba(0, 0, 0, 0.3);
   --000:#000;
}

.dark-side{
  --BED6ED:#000;
  --invert-white:invert(1%);
  --invert-black:invert(100%) ;
  --013B72 :#fff;
  --013B72Black:#000;
  --D8E4EB:#fff;
  --0358a8:#ff7900;
  --0358a8BLACK:#000;
  --ff:#ff7900;
  --ffff:#000;
  --background-black:url(Svg/background-orange.svg);
  --bed6edOR:#ff7900;
  --sun:url(Svg/Moon.svg);
  --sunorange:url(Svg/Moonorange.svg);
  --Left-image-src: url('Images/Svg-Left-Orange.png');
  --Right-image-src: url('Images/Svg-Right-Orange.png');
  --B013B72I:#ff7900;
  --Black013B72:#ff7900;
  --Oranfff:#ff7900;
  --069OR:#ff7900;
  --ffffffdb:#000000c9;
  --013b72c9B:#000000c9;
  --Color:#000000d4;
  --background-Animation-black:url(Svg/Orange_Img_Svg.png);
  --rbgwhite:rgba(255, 255, 255, 0.5);
  --000:#fff;
}
html {
  scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box; 
  }

  @media screen and (max-width: 40px){
    div.Hole-Body{
      display: none;
    }
  }
  h1.Under {
    display: none;
}


@media screen and (max-width: 40px) {
    h1.Under {
        display: block;
        font-size: 50px; 
        color: red;
    }
}

div.Under_work{
  width: 100%;
  margin: auto;
}
h1.Under{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 20%;
}

.Head-File {
  position: fixed;
  z-index: 999999999;
  width: 100%;
  margin: auto;
  background-color: var(--BED6ED);
  padding:14px;
  transition: all 0.3s ease-in-out; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

a.BHAR-Name {
  color: var(--013B72);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}
div.Grid-1{
display: flex;
flex-wrap: wrap;
align-items: center;
animation: SidesGs 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
} 
@keyframes SidesGs { 
  0% { 
    transform: translateX(-100%); 
    opacity: 0; 
  } 
  100% { 
    transform: translateX(0%); 
    opacity: 1; 
  } 
}

.Img-Src {
  width: 50px;
  height: auto; 
  margin-right: 5px;
  filter: var(--invert-black);
}

.Move {
  font-weight: bold;
}

.nav_ico,.nav_I {
  display: none; 
}

.main_nav {
  display: flex;
  align-items: center;
}

.Header-Files {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  animation: SideNav 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
} 
@keyframes SideNav { 
  0% { 
    transform: translateX(100%); 
    opacity: 0; 
  } 
  100% { 
    transform: translateX(0%); 
    opacity: 1; 
  } 
}

a.NAV-Items{
  text-decoration: none;
  font-size: 23px;
  color:var(--013B72);
  padding: 10px 15px;
  font-weight: 700;
  transition: all 0.3s ease-out;
}
@media screen and (max-width:901px) {
  a.NAV-Items{
    margin-bottom: 3px;
  }
}
a.NAV-Items:hover{
background-color:var(--D8E4EB);
border-radius: 5px;
box-shadow: 1px 2px 3px var(--ff);
color: var(--0358a8);
transition: all 0.3s ease-in-out; 
}
@media screen and (max-width:901px) {
  a.NAV-Items:hover{
    padding-left: 20px;
  }
}
a.NAV-Items:focus{
  background-color:var(--D8E4EB);
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--ff);
  transition-duration: 0.5s;
  color: var(--0358a8);
  transition: all 0.3s ease-in-out; 
  }
  @media screen and (max-width:901px) {
    a.NAV-Items:focus{
      padding-left: 20px;
    }
  }
  .NAV-Items.active {
    background-color: var(--D8E4EB);
    border-radius: 5px;
    box-shadow: 1px 2px 3px var(--ff);
    color: var(--0358a8);
    transition: all 0.3s ease-in-out;
  }
  
  @media screen and (max-width:901px) {
    .NAV-Items.active {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 900px) {
  .nav_ico {
    display: block; 
    cursor: pointer;
  }

  .Header-Files {
    display: none;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    background-color: var(--BED6ED);
    z-index: 999999999;
    flex-direction: column;
    align-items: flex-start;
    animation: slideDown 0.3s ease; 
    transition: all 0.3s ease-in-out;
    padding-bottom: 20px;
    border-radius: 15px;
    padding-top: 20px;
  }
 .fa-bars,
 .fa-times{
  color: var(--013B72);
 }
  
  #menuTrigger:checked ~ .Header-Files {
    display: flex;
  }

  

  .Header-Files a {
    width: 100%;
  }

  @keyframes slideDown {
    from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
  }
}

div.Gird-Curved{
  padding-top: 70px;
}
div.curved {
  padding-top: 0px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: var(--background-black);
  height: 600px;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: all 0.3s ease-in-out; 
}
@media screen and (max-width: 1090px){
  div.curved{
    height: 500px;
  }
}
@media screen and (max-width: 920px){
  div.curved{
    height: 450px;
  }
}
@media screen and (max-width: 800px){
  div.curved{
    height: 400px;
  }
}
@media screen and (max-width: 655px){
  div.curved{
    height: 390px;
  }
}
@media screen and (max-width: 550px){
  div.curved{
    height: 350px;
  }
}
@media screen and (max-width: 440px){
  div.curved{
    height: 335px;
  }
}
@media screen and (max-width: 200px){
  div.curved{
    overflow: hidden;
  }
}

div.Details-Grid{
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-in-out; 
}
div.Details-Grid-1{
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 740px){
  div.Details-Grid-1{
    width: 90%;
  }
}
@media screen and (max-width: 600px){
  div.Details-Grid-1{
    width: 95%;
  }
}
@media screen and (max-width: 570px){
  div.Details-Grid-1{
    width: 98%;
  }
}
@media screen and (max-width: 200px){
  div.Details-Grid-1{
    overflow: hidden;
  }
}

div.Details-Grid-2{
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 440px){
  div.Details-Grid-2{
    align-items: center;
  }
}
@media screen and (max-width: 389px){
  div.Details-Grid-2{
    grid-template-columns: auto;
  }
}
div.Details-Grid-First-Text{
  margin-top: 50px;
}

h1.Name-BH {
  color: var(--ffff);
  font-size: 75px;
  padding: 10px 15px;
  font-family: 'Libre Baskerville', serif;
  animation: movieEffect 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}
@media screen and (max-width: 1200px){
h1.Name-BH{
  font-size: 60px;
}
}
@media screen and (max-width: 1090px){
  h1.Name-BH{
    font-size: 50px;
  }
}
@media screen and (max-width: 850px){
    h1.Name-BH{
      font-size: 40px;
    }
}
@media screen and (max-width: 550px){
  h1.Name-BH{
    font-size: 30px;
  }
}
@media screen and (max-width: 236px){
  h1.Name-BH{
    font-size: 20px;
  }
}

@keyframes movieEffect {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h2.Design{
  color: var(--ffff);
  margin-left: 30px;
  font-size: 40px;
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  animation: movieSide 2s ease-in-out 1s forwards;
  opacity: 0;
  transition: all 0.3s ease-in-out; 
}
@media screen and (max-width: 1200px){
  h2.Design{
    font-size: 35px;
  }
}
@media screen and (max-width: 1090px){
  h2.Design{
    font-size: 30px;
  }
}
@media screen and (max-width: 850px){
  h2.Design{
    font-size: 25px;
  }
}
@media screen and (max-width: 550px){
  h2.Design{
    font-size: 20px;
  }
}
@media screen and (max-width: 460px){
  h2.Design{
    margin-left: 10px;
  }
}
@media screen and (max-width: 236px){
  h2.Design{
    margin-left: 6.5px;
    font-size: 15px;
  }
}


@keyframes movieSide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h3.Address-Name{
  color: var(--ffff);
  font-size: 30px;
  margin-left: 70px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  animation: movieASide 2s ease-in-out 2s forwards;
  opacity: 0;
  transition: all 0.3s ease-in-out; 
}
@media screen and (max-width: 1200px){
  h3.Address-Name{
    font-size: 25px;
  }
}
@media screen and (max-width: 1120px){
  h3.Address-Name{
    font-size: 20px;
  }
}
@media screen and (max-width: 850px){
  h3.Address-Name{
    font-size: 17px;
  }
}
@media screen and (max-width: 550px){
  h3.Address-Name{
    font-size: 14px;
  }
}
@media screen and (max-width: 481px){
  h3.Address-Name{
    margin-left: 50px;
  }
}
@media screen and (max-width: 460px){
  h3.Address-Name{
    margin-left: 30px;
  }
}
@media screen and (max-width: 236px){
  h3.Address-Name{
    margin-left: 15px;
    font-size:12px;
  }
}


@keyframes movieASide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

div.Img-Grid{
  float:right;
  position: absolute;
  transition: all 0.3s ease-in-out; 
}
@media screen and (max-width: 1500px){
div.Img-Grid{
  float: left;
  position: relative;
  margin-left: 30px;
}
}
@media screen and (max-width: 520px){
  div.Img-Grid{
    margin-left: 10px;
  }
}
@media screen and (max-width: 495px){
  div.Img-Grid{
    margin-left: 0px;
  }
}
@media screen and (max-width: 389px){
  div.Img-Grid{
    display: none;
  }
}
img.IMG_FAV{
  width: 450px;
  filter: var(--invert-white);
  animation: movieIMG 2s ease-in-out;
  transition: all 0.3s ease-in-out; 
  margin-top: 10px;
}
@media screen and (max-width: 1090px){
  img.IMG_FAV{
    width: 350px;
  }
}
@media screen and (max-width: 920px){
  img.IMG_FAV{
    width: 300px;
  }
}
@media screen and (max-width: 800px){
  img.IMG_FAV{
    width: 250px;
  }
}
@media screen and (max-width: 655px){
  img.IMG_FAV{
    width: 200px;
  }
}
@media screen and (max-width: 440px){
  img.IMG_FAV{
    width: 150px;
  }
}

@keyframes movieIMG {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

button.BUTNS{
  background-image: var(--sun);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 35px;
  width: 35px;
  border-radius: 1px;
  outline:none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 6px;
  transition: all 0.3s ease-in-out; 
}
button.BUTNSoran{
  background-image: var(--sunorange);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 35px;
  width: 35px;
  border-radius: 1px;
  outline:none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 6px;
  transition: all 0.3s ease-in-out; 
}

#button{
  display: none;
}
@media screen and (max-width:900px) {
  #button{
    position: absolute;
    display: flex;
    justify-content: flex-end; 
    text-align: right;
    right: 10px;
  }
  button.BUTNS{
    display: none;
  }
}


div.About-MySelf{
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-in-out; 
  margin-top: 17px;
}
div.About-MySelf-1{
  width: 80%;
  margin: auto;
}
div.Name-About {
  text-align: center;
  color: var(--013B72Black);
  padding-bottom: 5px; 
  position: relative;
  transition: 0.3s all ease-in-out;
}

div.Name-About::after {
  content: '';
  width: 90px;
  height: 4px;
  border-radius: 5px;
  background: var(--bed6edOR);
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
}
div.About-MySelf:hover div.Name-About::after {
  width: 110px;
  transition: 0.3s all ease-in-out;
}

div.About-Img-MySlef{
width: 100%;
margin: auto;
}
div.About-Grid-Name{
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1180px){
  div.About-Grid-Name{
    width: 80%;
    margin-left: 180px;
  }
}
@media screen and (max-width:1000px){
  div.About-Grid-Name{
    width: 80%;
    margin-left: 140px;
  }
}
@media screen and (max-width:1000px){
  div.About-Grid-Name{
    width: 80%;
    margin-left: 140px;
  }
}
@media screen and (max-width:900px){
  div.About-Grid-Name{
    width: 85%;
    margin-left: 100px;
  }
}
@media screen and (max-width:800px){
  div.About-Grid-Name{
    width: 85%;
    margin-left: 80px;
  }
}
@media screen and (max-width:700px){
  div.About-Grid-Name{
    width: 80%;
    margin: auto;
    display: block;
  }
  div.About-MY-Self{
  margin-top: -30px;
  }
}
@media screen and (max-width:450px){
  div.About-Grid-Name{
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
}

img.IMG-Grid-BH{
  width: 400px;
  filter:brightness(.6); 
}
@media screen and (max-width:1000px){
  img.IMG-Grid-BH{
    width: 350px;
  }
}
@media screen and (max-width:900px){
  img.IMG-Grid-BH{
    width: 300px;
  }
}
@media screen and (max-width:797px){
  img.IMG-Grid-BH{
    width: 250px;
  }
}
@media screen and (max-width:797px){
  img.IMG-Grid-BH{
    width: 250px;
    float: left;
  }
}
@media screen and (max-width:550px){
  img.IMG-Grid-BH{
    width: 200px;
  }
}
div.About-Image-Left {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

div.About-Image-Left-Side {
  position: absolute;
  margin-top: 300px;
  width: 10%; 
  left: 0;
  height: 800px; 
  background-image: var(--Left-image-src); 
  margin-left: -30px;
  background-size: cover; 
  background-position: center;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1470px){
  div.About-Image-Left-Side{
    margin-left: -0px;
    width: 10.5%;
  }
}
@media screen and (max-width: 1400px){
  div.About-Image-Left-Side{
    margin-left: -50px;
    width: 12.5%;
  }
}

@media screen and (max-width: 1180px){
  div.About-Image-Left-Side{
    margin-left: -50px;
    width: 13%;
  }
}
@media screen and (max-width: 1125px){
  div.About-Image-Left-Side{
    margin-left: -50px;
    width: 14.5%;
  }
}
@media screen and (max-width: 1000px){
  div.About-Image-Left-Side{
    margin-left: -50px;
    width: 15.5%;
  }
}
@media screen and (max-width: 960px){
  div.About-Image-Left-Side{
    width: 16.5%;
  }
}
@media screen and (max-width: 890px){
  div.About-Image-Left-Side{
    width: 17.5%;
  }
}
@media screen and (max-width: 850px){
  div.About-Image-Left-Side{
    width: 19%;
  }
}
@media screen and (max-width: 775px){
  div.About-Image-Left-Side{
    width: 21%;
  }
}
@media screen and (max-width: 700px){
  div.About-Image-Left-Side{
    display: none;
  }
}
div.About-Image-Right{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.About-Image-Right-Side {
  position: absolute;
  margin-top: 300px;
  width: 10%; 
  right: 0;
  height: 800px; 
  background-image: var(--Right-image-src); 
  background-size: cover; 
  background-position: center;
  transition: all 0.3s ease-in-out;
  
}
@media screen and (max-width: 1470px){
  div.About-Image-Right-Side{
    margin-left: 0px;
    width: 12%;
  }
}
@media screen and (max-width: 1220px){
  div.About-Image-Right-Side{
    margin-left: 0px;
    width: 12.5%;
  }
}
@media screen and (max-width: 1180px){
  div.About-Image-Right-Side{
    display: none;
  }
}


p.Text-About-Me{
  color: var(--013B72Black);
  font-family: "PT Serif", serif;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
}
span.About-BHa{
  font-weight: 700;
  color: var(--B013B72I);
}
div.Link-Websites{
  padding-top: 15px;
}
div.Link-Website-BH{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fa-linkedin,
.fa-twitter,
.fa-instagram,
.fa-github{
  color: var(--Black013B72);
  
}
a.Link-Linked,
a.Link-Twitter,
a.Link-instagram,
a.Link-Github {
  font-size: 20px;
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  padding: 10px;
  border: 2px solid var(--013B72Black);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
@media screen and (max-width: 460px){
  a.Link-Linked,
  a.Link-Twitter,
  a.Link-instagram,
  a.Link-Github{
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}
a.Link-Linked:hover,
a.Link-Twitter:hover,
a.Link-instagram:hover,
a.Link-Github:hover{
  box-shadow: 1px 2px 10px var(--013B72Black);
  background-color: var(--013B72Black);
  border: 2px solid var(--Oranfff);
}
a.Link-Linked:hover .fa-linkedin,
a.Link-Twitter:hover .fa-twitter,
a.Link-instagram:hover .fa-instagram,
a.Link-Github:hover .fa-github{
  color: var(--Oranfff);
}
.Both_Links{
  margin-left: 15px;
}
div.Btn-Contact_ME{
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
a.Contant_me_BTn{
  text-decoration: none;
  text-align: right;
  background-color: var(--013B72Black);
  color: var(--ff);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-family:"Montserrat", sans-serif;
  border: 2px solid;
  font-weight: 700;
}
a.Contant_me_BTn:hover{
  color: var(--013B72Black);
  background-color: var(--Oranfff);
  box-shadow: 1px 2px 3px var(--B013B72I);
  border: 2px solid var(--013B72Black);
}

div.About-BHA-Skills{
  margin-top: 60px;
}
div.Skills-About-Me{
  width: 100%;
  margin: auto;
  transition: all 0.3s ease-in-out; 
}
div.Skills-About-My{
  width: 50%;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1180px){
  div.Skills-About-My{
    width: 70%;
    margin-left: 300px;
  }
}
@media screen and (max-width: 1000px){
  div.Skills-About-My{
    width: 65%;
  }
}
@media screen and (max-width: 860px){
  div.Skills-About-My{
    width: 70%;
    margin-left: 200px;
  }
}
@media screen and (max-width: 700px){
  div.Skills-About-My{
    width: 80%;
    margin-left: 130px;
  }
  div.About-MY-Self-1{
    margin-top: 30px;
  }
}
@media screen and (max-width: 660px){
  div.Skills-About-My{
    width: 85%;
    margin: auto;
    margin-left: 50px;

  }
}
div.Html-Image-About{
  width: 100%;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 550px){
  div.Skills-About-My{
    width: 90%;
  }
}
@media screen and (max-width: 480px){
  div.Skills-About-My{
    width: 100%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px){
  div.Skills-About-My{
    width: 90%;
    margin-left: 20px;
  }
}

div.Skills-About-Slef {
  text-align: center;
  color: var(--013B72Black);
  padding-bottom: 5px; 
  position: relative;
  transition: 0.3s all ease-in-out;
}

div.Skills-About-Slef::after {
  content: '';
  width: 90px;
  height: 4px;
  border-radius: 5px;
  background: var(--bed6edOR);
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
}
div.Skills-About-Me:hover div.Skills-About-Slef::after {
  width: 110px;
  transition: 0.3s all ease-in-out;
}
div.Img-Skills{
  width: 100%;
  margin: auto;
}
img.Htmls-Img-Src{
  width: 30px;
}
div.Html-5-Skills{
  width: 75%;
}
div.Html-5-Skills-Grid{
  display: grid;
  grid-template-columns: auto auto;
  transition: 0.3s all ease-in-out;
}
p.Html-Name-Tag{
  color: var(--013B72Black);
  font-size: 15px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}
p.Html-Number{
  color: var(--013B72Black);
  text-align: right;
  font-size: 15px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}
div.Html-Progress-Bar-Per {
  width: 100%;
  border-radius: 15px;
  position: relative;
}
div.Html-Progress-Bar-Per-1 {
  background-color: var(--0358a8);
  color: white;
  margin-top: 5px;
  padding: 0.7%;
  text-align: right;
  font-size: 0px;
  border-radius: 15px;
  width: 100%; 
  position: absolute; 
  top: 0;
  left: 0; 
  transition: 0.3s all ease-in-out;
}
div.Html-Image-About{
  cursor: pointer;
}

div.Html-Image-About:hover div.Html-Progress-Bar-Per-1 {
  width: 0%;
  animation: fillEffect 2s ease-in-out forwards; 
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

@keyframes fillEffect {
  0% {
    width: 0; 
  }
  100% {
    width: 100%;
  }
}
div.Css-3{
  margin-top: 30px;
}
div.JavaScript-PRE{
  width: 70%;
  margin-top: 30px;
}
div.MY-Sql-PRE{
  width: 60%;
  margin-top: 30px;
}
div.Java-PRE{
  width: 45%;
  margin-top: 30px;
} 
div.Clg-Project-Skills{
  margin-top: 100px;
}

@media screen and (max-width: 1300px){
  div.Clg-Project-Skills{
    margin-top: 70px;
  }
}

div.Clg-Project-Skills {
  text-align: center;
  color: var(--013B72Black);
  padding-bottom: 5px; 
  position: relative;
  transition: 0.3s all ease-in-out;
}

div.Clg-Project-Skills::after {
  content: '';
  width: 90px;
  height: 4px;
  border-radius: 5px;
  background: var(--bed6edOR);
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
}
div.Clg-Project-About:hover div.Clg-Project-Skills::after {
  width: 110px;
  transition: 0.3s all ease-in-out;
}

div.Clg-Project-Details{
  width: 100%;
  margin: auto;
}
div.Clg-Project-Details-1{
  width: 85%;
  margin: auto;
}
div.Clg-Project-Details{
  margin-top: 20px;
}
div.Details-Project{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1200px){
  div.Details-Project{
    grid-template-columns: auto;
  }
}
div.Details-proj-Clg-1{
  width: 100%;
  margin: auto;
}
div.Details-proj-Clg-2{
  width: 85%;
  margin: auto;
}
h1.Project-Name{
  font-size: 19px;
  color: var(--B013B72I);
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  transition: all 0.3s ease-in-out ;
}
p.Details-About-Project{
  font-size: 18px;
  line-height: 23px;
  padding-top: 10px;
  color: var(--0358a8BLACK);
  transition: all 0.3s ease-in-out ;
}

#Arrow-Right{
  color: var(--0358a8BLACK);
  margin-right: 10px;
}
h1.Project-Techniques{
  font-size: 18px;
  color: var(--B013B72I);
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
}
p.Project-Techniques-Text{
  margin-left: 30px;
  color: var(--0358a8BLACK);
}
abbr.DDOS{
 font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
abbr.About_DDOS{
  text-decoration: none;
  font-size: 19px;
  cursor: pointer;
}
div.Download-Project-Btn{
  margin-top: 10px;
  text-align: right;
  margin-right: 20px;
}
@media screen and (max-width: 1200px){
  div.Download-Project-Btn{
    margin-top: 30px;
  }
}
div.Download-Project-En{
  margin-top: 30px;
  text-align: right;
  margin-right: 20px;
}
a.Download-Project{
  text-decoration: none;
  background-color: var(--B013B72I);
  padding: 10px 15px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid;
}
a.Download-Project:hover{
 background-color: #fff;
 color: var(--B013B72I);
 border: 1px solid var(--B013B72I);
 box-shadow: 1px 2px 3px var(--B013B72I);
}

div.Web_Projects{
  text-align: center;
  color: var(--013B72Black);
  padding-bottom: 5px; 
  position: relative;
  transition: 0.3s all ease-in-out;
  margin-top: 50px;
}

div.Web_Projects-Design::after {
  content: '';
  width: 100px;
  height: 4px;
  border-radius: 5px;
  background: var(--bed6edOR);
  position: absolute;
  bottom: -1%;
  left: 50.4%; 
  transform: translateX(-50%);
  transition: 0.3s all ease-in-out;
}
div.Design_web_project:hover div.Web_Projects-Design::after {
  width: 170px;
  transition: 0.3s all ease-in-out;
}
div.About-Web {
  width: 100%;
  margin: auto;
}
div.About-Web-Project {
  width: 80%;
  margin: auto;
}

div.About-Web-Grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px; 
  overflow: hidden;
}
@media screen and (max-width: 1200px){
  div.About-Web-Grid{
  grid-template-columns: auto auto;
}
}
@media screen and (max-width: 655px){
  div.About-Web-Grid{
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
}
}
div.Image-Upload-Web {
  position: relative; 
}

img.Img-Web-Project {
  width: 350px; 
  height: 150px;
  border: 2px solid var(--069OR);
  border-radius: 5px;
  transition: width 0.3s ease-in-out; 
  cursor: pointer;
}
@media screen and (max-width: 1400px){
  img.Img-Web-Project{
    width: 300px;
    height: 120px;
  }
}
@media screen and (max-width: 1200px){
  img.Img-Web-Project{
    width: 400px;
    height: 160px;
  }
}
@media screen and (max-width: 1040px){
  img.Img-Web-Project{
    width: 350px;
    height: 148px;
  }
}
@media screen and (max-width: 920px){
  img.Img-Web-Project{
    width: 300px;
  }
}
@media screen and (max-width: 800px){
  img.Img-Web-Project{
    width: 250px;
    height: 110px;
  }
}
@media screen and (max-width: 655px){
  img.Img-Web-Project{
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 390px){
  img.Img-Web-Project{
    width: 200;
    height: 100px;
  }
}
div.Text-About-Img {
    position: absolute;
    height: 150px;
    width: 350px;
    background-color: transparent;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: -77px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
@media screen and (max-width: 1400px){
  div.Text-About-Img{
    width: 300px;
    height: 135px;
  }
}
@media screen and (max-width: 1200px){
  div.Text-About-Img{
    width: 400px;
    height: 158px;
    margin-top: -80px;
  }
}
@media screen and (max-width: 1040px){
  div.Text-About-Img{
    width: 350px;
    height: 150px;
    margin-top: -78px;
  }
}
@media screen and (max-width: 920px){
  div.Text-About-Img{
    width: 300px;
  }
}
@media screen and (max-width: 800px){
  div.Text-About-Img{
    width: 250px;
    height: 110px;
    margin-top: -57px;
  }
}
@media screen and (max-width: 655px){
  div.Text-About-Img{
    width: 300px;
    height: 150px;
    margin-top: -77px;
  }
}
@media screen and (max-width: 390px){
  div.Text-About-Img{
    width: 200;
    height: 100px;
    margin-top: -52px;
  }
}
div.Text-About-Img:hover{
  text-decoration: underline;
}
div.Image-Upload-Web:hover div.Text-About-Img {
  opacity: 1;
  animation: slideFromTop 0.5s forwards;
  background-color: var(--013b72c9B);
  display: flex;
  box-shadow: 1px 2px 3px var(--ff);
}

@keyframes slideFromTop {
  from {
      top: -50px; 
      opacity: 0; 
  }
  to {
      top: 50%; 
      opacity: 1; 
  }
}
div.panel{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: var(--ffffffdb);
  }
  div.Btn-Close-Clg{
    position: absolute;
    margin-left: 90px;
    margin-top: 30px;
  }
  button.back-btn{
    padding: 10px 30px;
    outline: none;
    border: 1px solid transparent;
    background-color: var(--B013B72I);
    color: #fff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%,-50%);   
  }
  button.back-btn:hover{
    color: var(--B013B72I);
    background-color: #fff;
    border: 1px solid var(--B013B72I);
    box-shadow: 1px 2px 3px var(--B013B72I);
    padding: 10px 40px;
  }

  div.Project-Tittle{
  text-align: center;
  }
  h3.Clg-Name-Bharath{
    font-size: 40px;
    color: var(--013B72);
    margin-top: 80px;
  }

div.Clg-Grid-Tittle{
  width: 100%;
  margin: auto;
} 
div.Clg-Grid-Tittle{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.Clg-Grid-Tittle-2{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
  grid-gap: 30px;
 }
 @media screen and (max-width: 1200px){
  div.Clg-Grid-Tittle-2{
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
  }
 }
 @media screen and (max-width: 655px){
  div.Clg-Grid-Tittle-2{
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
 }
iframe.WEb-Page_clg{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
div.Inner-Panel-Clg{
  margin-left: 30px;
}
div#Contant{
  margin-top: 30px;
}
div.Contant_Details_Width{
  width: 100%;
  margin: auto;
}
div.Contact_Details_Max_Width{
  width: 80%;
  margin: auto;
}
div.Grid_Contant-Details{
  display: flex;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 700px){
  div.Grid_Contant-Details{
    display: grid;
    grid-template-columns: auto;
  }
  div.Grid_Contant-Details_Content-2{
    margin-top: 30px;
  }
}
div.Connect{
  width: 100%;
  margin: auto;
}
div.Connect_ME-1{
  width: 80%;
  margin: auto;
}
h1.Connect_us{
  color: var(--013B72Black);
  font-size: 30px;
  padding-bottom: 7px;
}
p.Submit_Details{
  color: var(--069OR);
}
div.Form_Connect{
  width: 100%;
  margin: auto;
  border: 1px solid var(--013B72Black);
  box-shadow: 1px 2px 3px var(--013B72Black);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1100px){
  div.Form_Connect{
    width: 105%;
  }
}
@media screen and (max-width: 1000px){
  div.Form_Connect{
    width: 110%;
  }
}
@media screen and (max-width: 700px){
  div.Form_Connect{
    width: 100%;
    overflow: hidden;
  }
}
form.myForm_Connect{
 width: 100%;
 margin: auto;
 padding: 20px;
}
div.Label{
  padding-bottom: 5px;
}
div.Name{
  padding-bottom: 5px;
}
label.Input_Label{
  font-size: 18px;
  color: var(--013B72Black);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
input[type="text"],
input[type="Email"],
input[type="number"]{
width: 100%;
padding: 15px 30px;
color: var(--069OR);
text-align: center;
border-radius: 5px;
border: 1px solid var(--069OR);
}
div.Submit_BTN{
  padding-top: 10px;
}
input[type="submit"]{
  font-size: 20px;
  background-color: var(--B013B72I);
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 40px;
  outline: none;
  border: 1px solid var(--B013B72I);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover{
  background-color: #fff;
  color: var(--B013B72I); 
  box-shadow: 1px 2px 3px var(--B013B72I);
}
div.Label_Hint{
  padding-top:5px;
  padding-left:5px;
}
p.Note{
  color:var(--Color);
}
div.Footer_Details_Width{
  background-image: var(--background-Animation-black);
  width: 100%;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px; 

}

div.Footer_Svg_Details{
  width: 100%;
  margin: auto;
}
div.Footer_Svg_Details_Width{
  width: 80%;
  margin: auto
}
div.Grid_Footer_Details{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:30px;
  padding-top: 100px;
}
@media screen and (max-width: 1000px){
  div.Grid_Footer_Details{
    grid-template-columns: auto auto;
  } 
  div.Footer_Details{
    margin-top: 30px;
  }
  
}
@media screen and (max-width: 550px){
  div.Grid_Footer_Details{
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    grid-gap:10px;
  }
}
@media screen and (max-width: 1000px){
  span.BR_Line{
    display: none;
    line-height: 30px;
  }
}
div.Img_flex{
display: flex;
align-items: center;
}
img.Img-Footer{
  width: 120px;
  filter: var(--invert-white);
}
h3.Img_Bhargav_Flex{
  font-size: 25px;
  color: var(--ffff);
}

div.Link_footer{
  padding-top: 25px;
}
li.List_links{
  color: var(--ffff);
  font-size: 20px;
}
li.List_links a.Fotter_links{
  color: var(--ffff);
  line-height: 35px;
  text-decoration: none;
}
li.List_links a.Fotter_links:hover{
  text-decoration: underline;
  color: var(--D8E4EB);
}
div.Social_Details_contact{
  padding-top: 40px;
}
div.A_Phone,
div.A_Email{
  padding-bottom: 10px;
}
a.Fa_A_Phone{
  color: var(--ffff);
  font-size: 20px;
  text-decoration: none;
}
@media screen and (max-width: 1000px){
  a.Fa_A_Phone{
    line-height: 30px;
  }
}
@media screen and (max-width: 600px){
  a.Fa_A_Phone{
    font-size: 17px;
  }
}
a.Fa_A_Phone:hover{
  color:  var(--D8E4EB);
  text-decoration:underline ;
}
span.Fa-Phone{
  padding-right: 10px;
}

span.Red_Note{
  color: red;
}

a.ID-Index{
  text-decoration: none;
}
.About-Img-MySlef,
.Contant_Details_Width,
.Clg-Project-Details-1{
  overflow: hidden;
}
.Clg-Project-Details-1{
  padding-bottom: 13px;
}

/* .Contant_Details_Width:hover .Grid_Contant-Details_Content-1, */
.Clg-Project-Details-1:hover  .Details-Project-1,
.About-Img-MySlef:hover .About-Grid-1{
  animation: SidesG 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
} 
@keyframes SidesG { 
  0% { 
    transform: translateX(-100%); 
    opacity: 0; 
  } 
  100% { 
    transform: translateX(0%); 
    opacity: 1; 
  } 
}
/* .Contant_Details_Width:hover  .Grid_Contant-Details_Content-2, */
.Clg-Project-Details-1:hover  .Details-Project-2,
.About-Img-MySlef:hover .About-Grid-2,
.Grid-2{
  animation: SideNav 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
} 
@keyframes SideNav { 
  0% { 
    transform: translateX(100%); 
    opacity: 0; 
  } 
  100% { 
    transform: translateX(0%); 
    opacity: 1; 
  } 
}
.Contant_Details_Width .Grid_Contant-Details_Content-1{
  animation: SidesG 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
} 
@keyframes SidesG { 
  0% { 
    transform: translateX(-100%); 
    opacity: 0; 
  } 
  100% { 
    transform: translateX(0%); 
    opacity: 1; 
  } 
}
.Contant_Details_Width .Grid_Contant-Details_Content-2{
  animation: SideNav 2s ease-in-out; 
  transition: all 0.3s ease-in-out; 
} 
@keyframes SideNav { 
  0% { 
    transform: translateX(100%); 
    opacity: 0; 
  } 
  100% { 
    transform: translateX(0%); 
    opacity: 1; 
  } 
}
div.None_Spinner{
  display: none;
}
div.Hover_Spin{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed; 
  z-index: 99999999999999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.Hover_Spin_Round {
  padding: 20px;
  border-radius: 8px;
  
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side, var(--Oranfff) 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 20%, var(--Oranfff));
  /* Specify the mask with pre-calculated values */
  -webkit-mask: radial-gradient(farthest-side, #0000 86%, #000 87%);
  mask: radial-gradient(farthest-side, #0000 70%, #000 70%);
  animation: LoaderSpin 1s infinite linear;
}

@keyframes LoaderSpin {
  100% {
    transform: rotate(1turn);
  }
}
div.Form_Submit{
  display: none;
}
div.Form_Submit_Review {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed; 
  z-index: 99999999999999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: var(--rbgwhite) ; */
  width: 100%;
  margin: auto;
}
div.Form_Details_View{
  width: 40%;
  margin: auto;
  background-color: var(--ffff);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 8px var(--000);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1100px) {
  div.Form_Details_View{
    width: 50%;
  }
}
@media screen and (max-width:900px) {
  div.Form_Details_View{
    width: 60%;
  }
}
@media screen and (max-width:750px) {
  div.Form_Details_View{
    width: 70%;
  }
}
@media screen and (max-width:650px) {
  div.Form_Details_View{
    width: 80%;
  }
}
@media screen and (max-width:500px) {
  div.Form_Details_View{
    width: 85%;
  }
}
@media screen and (max-width:402px) {
  div.Form_Details_View{
    width: 88%;
  }
}
@media screen and (max-width:400px) {
  div.Form_Details_View{
    width: 95%;
  }
}
div.Form_Show_Data{
   width: 90%;
   margin: auto;
   transition: all 0.3s ease-in-out;
}
@media screen and (max-width:400px) {
  div.Form_Show_Data{
    width: 95%;
  }
}
.container_Symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
svg.Svg_Cricle {
  margin-top: 5px;
  width: 60px;
  margin-bottom: 15px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

div.Matter_Deatils_Show{
  text-align: center;
}
button.Name_btn_Close{
  position: absolute;
  right: 0%;
  margin-right: 10px;
  background-color: var(--000);
  color:var(--ffff) ;
  padding: 5px 12px;
  outline: non;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}
button.Name_btn_Close:hover{
  transform: scale(1.2);
  color: #ff7900;
  background-color: var(--ffff);
  border: 1px solid var(--000);
}
#Fa_Btn_Close{
  color: var(--ffff);
}
button.Name_btn_Close:hover #Fa_Btn_Close{
  color: var(--000);
  animation: bouncestep 1.5s linear;
}

@keyframes bouncestep {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translatey(-7px);
  }
  60% {
    transform: translatey(-5px);
  }
}
div.Close_Btn{
  position: relative;
}
h3.Thanks_Say{
  color:var(--000) ;
  padding-bottom: 6px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:550px) {
  h3.Thanks_Say{
    font-size: 20px;
  }
} 
@media screen and (max-width:400px) {
  h3.Thanks_Say{
    font-size: 17px;
  }
} 
  
h5.Thanks_Hello{
  color:var(--000) ;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
}
@media screen and (max-width:550px) {
  h5.Thanks_Hello{
    font-size: 17px;
  }
}
@media screen and (max-width:400px) {
  h5.Thanks_Hello{
    font-size: 12px;
  }
}
span.User_Name{
  font-weight: 600;
}
button.Btn_Home_Page{
  text-decoration: none;
  color: var(--000);
  background-color: var(--ffff);
  padding: 8px 10px;
  border: 1px solid var(--000);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 17px;
}
button.Btn_Home_Page:hover{
  color: var(--ffff);
  background-color: var(--000);
transform: scale(1.2);
text-decoration: underline #ff7900;
}
#Back_Arrow_Btn{
  margin-right: 5px;
}

button.Btn_Home_Page:hover #Back_Arrow_Btn{
animation: bounce 1.5s linear;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translatex(-10px);
  }
  60% {
    transform: translatex(-5px);
  }
}

div.Back_Top{
  position: fixed;
  z-index: 9999999;
  bottom: 0%;
  right: 0%;
  margin-right: 2%;
  margin-bottom: 2%;
}
button.Back_Top_Btn{
  width: 45px;
  height: 45px;
  padding: 8px 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--000);
  outline: none;
  font-size: 20px;
  font-weight: 800;
  color: var(--0358a8);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--ffff);
  visibility: hidden;
}
button.Back_Top_Btn:hover{
  box-shadow: 0 0 8px var(--000);
  transform: scale(1.2);
}
button.Back_Top_Btn.show {
  visibility: visible;
}
button.Back_Top_Btn:hover #UP_Arrow{
  animation: upbounce 2s forwards ease-in-out;
}
@keyframes upbounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
/*
#BED6ED, like #D8E4EB

Monochromatic Scheme:

#A3C2DC
#8AA9D1
#7190C7
Complementary Scheme:

#BED6ED (main color)
#EDC0BE (complementary color)
Analogous Scheme:

#BED6ED (main color)
#BEBDED
#BEB3ED
Triadic Scheme:

#BED6ED (main color)
#EDBED4
#D4EDBE
Tetradic Scheme:

#BED6ED (main color)
#EDBED3
#BEE5ED
#EDE1BE

*/




